<!-- app/templates/user/userarticles/userarticles.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}User Articles{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">User Articles</h1>
        {% if userarticles %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> PMID </th>
                  <th width="40%"> Abstract </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for userarticle in userarticles %}
                <tr>
                  <td> {{ userarticle.pmid }} </td>
                  <td> {{ userarticle.abstract }} </td>
                  <td>
                    <a href="{{ url_for('user.edit_userarticle', id=userarticle.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('user.delete_userarticle', id=userarticle.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No userarticles have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('user.add_userarticle') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Articles
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}