<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>PIPA           </h1>
                    <h2>Personal Intelligent PubMed Assistant</h2>
                    
                    <!-- <h3>Your personal assistant for the scientific world!</h3>
                    <hr class="intro-divider"> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}