<!-- app/templates/home/recommendarticles.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}RecommendArticles{% endblock %}
{% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
            <h1 style="text-align:center;">Articles You May Like</h1>
            {% if recommendarticles %}
              <hr class="intro-divider">
                  <div class="center">
                    <div class="article-table"
                    style="max-height: 480px; margin: auto; overflow-y: scroll;">
                      <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                            <th width="11%"> Date  </th>
                            <th width="10%"> PMID  </th>
                            <th width="69%"> Title </th>
                            <th width="10%"> Score </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for recommendarticle in recommendarticles %}
                        <tr>
                          <td> {{ recommendarticle[3] }} </td>
                          <td> <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ recommendarticle[0] }}">{{ recommendarticle[0] }}</a> </td>
                          <td> {{ recommendarticle[1] }} </td>
                          <td> {{ recommendarticle[2] }} </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                      </table>
                    </div>
                  </div>
                  <div style="text-align: center">
                {% else %}
                  <div style="text-align: center">
                    <h3> No readings today :) </h3>
                    <hr class="intro-divider">
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

